@use "../../styles/mixins" as *;

.panel-wrapper {
  position: relative;
  width: 100%;
}

.panel {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: fluid(32px, 80px);
  margin-bottom: fluid(16px, 48px);
  background-color: var(--color-grey);
}

.panel__header {
  position: relative;
  display: flex;
  width: 100%;
  min-height: fluid(64px, 192px);
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
}

.panel__body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: fluid(24px, 48px) fluid(24px, 32px) fluid(24px, 64px)
    fluid(24px, 56px);
}

.panel__body > *:not(:last-child) {
  margin-bottom: fluid(16px, 24px);
}

.panel__section:not(:last-child) {
  margin-bottom: fluid(24px, 48px);
}
