@use "mixins" as *;

.container {
  display: flex;
  width: 100%;
  max-width: 2020px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container--padded {
  padding-inline: fluid(16px, 80px);
}
