h1 {
  color: var(--color-header);
  font-family: var(--font-gotham);
  font-size: 300px;
  font-weight: var(--font-gotham-xblack);
  text-transform: uppercase;
}

h2 {
  color: var(--color-header);
  font-family: var(--font-gotham);
  font-size: 170px;
  font-weight: var(--font-gotham-ultra);
  text-transform: uppercase;
}

.body {
  color: var(--color-body);
  font-family: var(--font-akhand);
  font-size: 80px;
  font-weight: var(--font-akhand-light);
  letter-spacing: -2px;
  line-height: 1.1;
  text-wrap: initial;
}

.body--large {
  color: var(--color-header);
  font-weight: var(--font-akhand-extrabold);
}

.body--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body--list-numbered {
  padding-left: 100px;
  list-style-type: decimal;
}

.body--accent {
  color: var(--color-accent);
}

.text-align--left {
  text-align: left;
}

.text-align--center {
  text-align: center;
}
