@use "mixins" as *;

h1 {
  color: var(--color-header);
  font-family: var(--font-gotham);
  font-size: fluid(52px, 300px);
  font-weight: var(--font-gotham-xblack);
  text-transform: uppercase;
}

h2 {
  color: var(--color-header);
  font-family: var(--font-gotham);
  font-size: fluid(34px, 170px);
  font-weight: var(--font-gotham-ultra);
  text-transform: uppercase;
}

h3 {
  color: var(--color-header);
  font-family: var(--font-akhand);
  font-size: fluid(24px, 110px);
  font-weight: var(--font-akhand-extrabold);
}

.body {
  color: var(--color-body);
  font-family: var(--font-akhand);
  font-size: fluid(22px, 80px);
  font-weight: var(--font-akhand-light);
  line-height: 1.1;
  text-wrap: initial;
}

.body--large {
  color: var(--color-header);
  font-weight: var(--font-akhand-extrabold);
}

.body--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body--accent {
  color: var(--color-accent);
  font-weight: var(--font-akhand-extrabold);
}

.text--accent {
  color: var(--color-accent);
  font-weight: var(--font-akhand-extrabold);
}

.text-align--left {
  text-align: left;
}

.text-align--center {
  text-align: center;
}
