@use "fonts";
@use "vars";
@use "base";

.app {
  font-family: sans-serif;
}

.container {
  display: flex;
  width: 100%;
  max-width: 2020px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container--padded {
  padding: 0 80px;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 414px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-color: var(--color-accent);
}

.header__inner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(0 0 0 / 0.23);
}

.panel {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 80px;
  margin-bottom: 100px;
  background-color: var(--color-grey);
}

.panel__header {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 260px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
}

.panel__body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 80px 80px;
  text-align: center;
}

.panel__body > *:not(:last-child) {
  margin-bottom: 30px;
}

h1 {
  color: var(--color-header);
  font-family: var(--font-gotham);
  font-size: 300px;
  font-weight: var(--font-gotham-xblack);
  text-transform: uppercase;
}

h2 {
  color: var(--color-header);
  font-family: var(--font-gotham);
  font-size: 170px;
  font-weight: var(--font-gotham-ultra);
  text-transform: uppercase;
}

.body {
  color: var(--color-body);
  font-family: var(--font-akhand);
  font-size: 80px;
  font-weight: var(--font-akhand-light);
  letter-spacing: -2px;
  line-height: 1.1;
  text-wrap: initial;
}

.body--large {
  color: var(--color-header);
  // font-size: 100px;
  font-weight: var(--font-akhand-extrabold);
}

.body--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body--accent {
  color: var(--color-accent);
}
